@import "./node_modules/bourbon/app/assets/stylesheets/bourbon.scss"

$pink-color: #f87a86
$blue-color: #23cbff
$green-color: #82bd48

#features-section
  padding: 60px 0
  text-align: center

  .span-1
    color: $green-color
  .span-2
    color: shade($blue-color, 12%)
  .span-3
    color: $pink-color

p
  text-align: center

h1
  font-size: 400%
  color: #555
  font-weight: 200
  margin-bottom: 0
  margin-bottom: 80px
i
  font-size: 600%
  width: 400px !important
  height: 200px
  margin-bottom: 50px



.col-1
  opacity: 0
  background: $green-color
  color: #fff
  height: 40vh
  i
    color: #fff
.col-2
  opacity: 0
  background: $blue-color
  color: #fff
  height: 40vh
  i
    color: #fff
.col-3
  opacity: 0
  background: $pink-color
  color: #fff
  height: 40vh
  i
    color: #fff
