<section id="features-section">
  <div class="container">

    <h1> Main <b><span class="span-1">fea</span><span class="span-2">tu</span><span class="span-3">res</span></b> </h1>
    <div class="row features-container">
        <div class="col-sm-4 col-1">

                  <i class="ion-earth icon1"></i>

                  <h3>Top 3 dishes</h3>
                  <p class="lead">Discover the top 3 dishes from each country all over the world with a simple and beautiful interface to navigate</p>

        </div>
        <div class="col-sm-4 col-2">

                <i class="ion-pizza icon2"></i>

                <h3>Top Recipes</h3>
                <p class="lead">You would be able to see the ingredients and directions to make your selected dish</p>
        </div>
        <div class="col-sm-4 col-3">

                  <i class="ion-shuffle icon3"></i>


                  <h3>Random Pick</h3>
                  <p class="lead">Don't know what to cook today? Don't worry, just navigate to random pick and it will randomly select dish from a country</p>
        </div>
      </div>
    </div>


</section>
