
    <a class="toggle-nav"><i class="ion-android-arrow-dropdown-circle"></i></a>


<div id="navegation">
  <ul class="navegation-menu">
    <li><a class="home" routerLink="/"><i class="ion-android-home home-i"></i> Home</a></li>
    <li><a routerLink="/map" class="world-map"><i class="ion-ios-location world-map-i"></i> Countries</a></li>
    <li><a class="random"><i class="ion-shuffle random-i"></i>Pick a random dish</a></li>
    <li><a class="about" routerLink="/features"><i class="ion-person-stalker aboutus-i"></i>Features</a>
    <li><a routerLink="/view" class="contact"><i class="ion-paper-airplane contact-i"></i>Contact us</a></li>
  </ul>
</div>


<router-outlet></router-outlet>
