

<section id="hero-section">
    <div class="hero-content">
        <img src="assets/img/logo2.png" width="350px">
        <h3>The top</h3>
        <h1><span>World's</span> <br>Best</h1>
        <div class="rw-words">
          <span>foods</span>
          <span>Cuisine</span>
          <span>Flavors</span>
          <span>Dishes</span>
        </div>
        <p class="lead">Discover different foods from all over the world. You can pick from the <b>map</b> or you can click <b>random</b> and it will choose a random dish from a country</p>
        <!-- <a class="btn btn-random">Random</a>
        <a routerLink="/map" class="btn btn-ghost">world map</a> -->
    </div>
</section>
